
@{
    ViewBag.Title = "Home";
}

<h1>File Uploader</h1>

<h3>Please upload your files below.</h3>

<div style="white-space: pre-line">
        This is a file management system that runs on ASP.NET.
        You will be able to upload your files here and be able to view you uploaded file on pages on this website.
        Please go ahead and upload any file below.
</div>
<br />
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div>
    <span class="control-fileupload">
        @Html.TextBox("file", "", new { type = "file"}) <br />
        </span>
    <input type="submit" value="Upload" class="btn btn-default" />
    <br /><br />
    <p><strong>@ViewBag.Message</strong></p>
</div>
}
