@{
    ViewBag.Title = "About Me";
}
<!--First container that contains an Image and my bio-->
<div class="container" style="margin-top: 1rem">
    <div class="row" id="about-row">
        <div class="col-md-4">
            <img src="~/Media/Images/About/Bio.jpg" alt="Picture of me." class="img-thumbnail" style="max-width: 20rem" />
        </div>
        <!--Jumbotron to contain my bio-->
        <div class="jumbotron col-md-8" style="background-color: #343a40; color: white; ">
            <div class="text-center">
                <h1 style="margin-top: 50px">@ViewBag.Title</h1>
                <p style="font-size: 18px">
                    Hi! My name is Gerhard. I am currently a student at the Univeristy of Pretoria.
                    I am busy with my BCom Informatics degree. I enjoy coding a lot and having been
                    doing so for the past 6 years. I enjoy back-end development and have enjoyed
                    developing back-end systems using Linux. This project using ASP.NET is a really cool framework to develop websites and I enjoy it!.


                </p>
            </div>
        </div>
    </div>
</div>

<!--Flex container that displays programming concpets I have experience in.-->
<div class="container-fluid bg-3 text-center" style="justify-content: center">
    <h2>Some of my Work</h2><br>
    <div class="row">

        <div class="col-sm-3">
            <h3 class="bg-info">Node.js</h3>
            <img src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">Python</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">Discord.js</h3>
            <img src="https://camo.githubusercontent.com/36dddbf2f91241b3bf4b31af97c6fde92f911ba621c5dae84cd3f6cdff6f4d0c/68747470733a2f2f6b6f79612e67672f6173736574732f696d672f646973636f72646a732d6c6f676f2e706e67" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">Postgres</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1985px-Postgresql_elephant.svg.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>
<br>

<!--Flex container that displays programming concpets I have experience in.-->
<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="bg-info">Linux</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Kubuntu_logo.svg/1200px-Kubuntu_logo.svg.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">MongoDB</h3>
            <img src="https://res.cloudinary.com/hevo/image/upload/f_auto,q_auto/v1626694700/hevo-blog/MongoDB-sm-logo-500x400-1-1.gif" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">C#</h3>
            <img src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">Web Dev</h3>
            <img src="http://assets.stickpng.com/images/5847f5bdcef1014c0b5e489c.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>
<br>
<br>

<!--My GitHub link.-->
<footer class="panel container-fluid text-center">
    <p>My GitHub: <a href="https://github.com/CanadianMapleFarmer">GitHub Profile</a></p>
</footer>