@{
    ViewBag.Title = "About Me";
}
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 d-flex">
    <div class="container bg-3" style="display: flex">
        <div>
            <img src="~/Media/Images/Bio.jpg" alt="Picture of me." class="img-thumbnail" />
        </div>
        <div class="jumbotron"1 style="background-color: #0047AB; color: white; max-width: 75%">
            <div class="container text-center">
                <h1>@ViewBag.Title</h1>
                <p>
                    Hi! My name is Gerhard. I am currently a student at the Univeristy of Pretoria.I am busy with my
                    BCom Informatics degree. I enjoy coding a lot and having been doing so for the past 6 years.I enjoy
                    back-end development and have enjoyed developing back-end systems using Linux.This project using
                    ASP.NET is a really cool framework to develop websites and I enjoy it!.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-3 text-center" style="justify-content: center">
    <h2>Some of my Work</h2><br>

    <div class="col-sm-3" >
        <h3 class="bg-info">Node.js</h3>
        <img src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
        <h3 class="bg-info">Python</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
        <h3 class="bg-info">Discord Bots</h3>
        <img src="https://cdn.logojoy.com/wp-content/uploads/20210422095037/discord-mascot.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
        <h3 class="bg-info">Postgres</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1985px-Postgresql_elephant.svg.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
</div>
<br>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="bg-info">Linux</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Kubuntu_logo.svg/1200px-Kubuntu_logo.svg.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">PM2</h3>
            <img src="https://raw.githubusercontent.com/unitech/pm2/master/pres/pm2.20d3ef.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">C#</h3>
            <img src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <h3 class="bg-info">Bootstrap</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>
<br>
<br>

<footer class="container-fluid text-center">
    <p>My Github: <a href="https://github.com/CanadianMapleFarmer">Github Profile</a></p>
</footer>