@{
    ViewBag.Title = "Home";
}

<!--Title, Subtitle & Description-->
<h1 class="display-4">File Uploader</h1>
<hr />
<h4>File Management System</h4>
<blockquote class="blockquote">
    <h5>Description:</h5>
    <p>This is a file management system that runs on ASP.NET.</p>
    <p>You will be able to upload your files here and view your uploaded files on pages on this website.</p>
    <p>The system wil sort and store your uploaded files into:
        <ul>
            <li>Documents</li>
            <li>Images</li>
            <li>Videos</li>
        </ul>
    </p>
    <p>You are also able to download and delete your uploaded files. And view the Images and Videos on their pages.</p>
    <p><strong>Please go ahead and upload any file below.</strong></p>
</blockquote>
<hr />
<!--Form for file submission.-->
<!--Notice no Radio Butons, I thought it was pointless for user to decide the file type.
    Please refer to HomeController to see how the files are handled.-->
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <div>
        <span class="control-fileupload">
            @Html.TextBox("file", "", new { type = "file" }) <br />
        </span>
        <input type="submit" value="Upload" class="btn btn-primary" style="margin-top: 10px"/>
        <br />
        <p class="@ViewBag.Style" style="max-width: fit-content; margin-top: 20px"><strong>@ViewBag.Message</strong></p>
    </div>
}
